# 飞书应用配置
FEISHU_APP_ID=cli_a968b3c219b9dbd3
FEISHU_APP_SECRET=JkpPVLK9IySp24RawJ4ASgfgKX8GjLGU

# 飞书多维表格配置
FEISHU_APP_TOKEN=CqwBbnJ5xa9SbTsRfGnc3Ar7nLh
FEISHU_TABLE_ID=tblommDyseaVLP8Q

# 调试模式
DEBUG=True
